<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
     <add name="CarRepairEntities" connectionString="server=47.95.198.171;User Id=sa;password=hpc0909+0919;Database=CarRepair" />
  </connectionStrings>

  <appSettings>

    <add key="ImageShowURL" value="http://localhost:8088/" />
    <add key="ImageSavePath" value="E:\WechatProject\Publish\API\" />
    <add key="LogPath" value="\log\" />

    <add key="XCBB_FWH:AppID" value="wx7d71415ab4e372ff" />
    <add key="XCBB_FWH:AppSecret" value="2b43cdebcdb4a549a80225088c13992a" />
    <add key="WeiXin_URL_Ckeck_Token" value="XCBB" />
    <add key="Tgid_WX" value="0" />

  </appSettings>
  
</configuration>